body {
  background-image: linear-gradient(to right, #CE1126, #FCD116, #006B3F);
  font-family: sans-serif;
}

.App-h1 {
  font-size: 4em;
  text-align: center;
  margin: 1vw 0vw 0vw 0vw;
  font-family: 'Luckiest Guy', sans-serif;
}
